<!DOCTYPE html>
<html lang="en">
<head>
  <style>
	* {
	  box-sizing: border-box;
	}

	.column {
	  float: left;
	  width: 50%;
	  padding: 20px;
	}

	.row::after {
	  content: "";
	  clear: both;
	  display: table;
	}

	@media screen and (max-width: 500px) {
	  .column {
		width: 100%;
	  }
	}
  </style>
  <title>Shopping Portal and Chat Bot</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="./js/app.js"></script>
  <script src="./js/SweetAlert.min.js"></script>
  <script src="./js/sweet-alert.min.js"></script>
</head>
<body ng-app="myModule" ng-controller="mainPage">
 
<div class="container">
	</br></br>
	<div class="row">
	  <div class="column">
		  <div class="card" style="width:500px; border: 8px solid aliceblue; box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);">
			<img class="card-img-top" src="./img/shopping.png" style="width:100%">
			<div class="card-body">
			  <center><h3 class="card-title">Shopping Portal</h3></center>
			  <p class="card-text">Find similar to images you upload and if you find them usefull as per description, you can directly place an order.</p>
			  <center><a href="#" class="btn btn-primary" ng-click="startShopping()">Start Shopping</a></center>
			</div>
		  </div>
	  </div>
	  <div class="column">
		  <div class="card" style="width:500px; border: 8px solid aliceblue; box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);">
			<img class="card-img-top" src="./img/chatbot.png" style="width:100%">
			<div class="card-body">
			  <center><h3 class="card-title">Online Chat bot</h3></center>
			  <p class="card-text">For queries related to the order placed at shopping portal, please go forward and connect with our chatbot.</p>
			  <center><a href="#" class="btn btn-primary" ng-click="startChatBot()">Chat online</a></center>
			</div>
		  </div>
	  </div>
	</div>
  <br>
</div>

</body>
</html>